body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#controls {
    flex: 1;
    margin-right: 20px;
}

h2 {
    text-align: center;
}

.control {
    margin-bottom: 10px;
}

.control label {
    display: block;
}

#sequencer {
    flex: 3;
}

#grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

button {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}
