
.scale-row {
    display: flex;
}

.step-button {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}


.controls {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="range"] {
    width: 100%;
}

input[type="number"] {
    width: 60px;
}

.start-button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.start-button:hover {
    background-color: #0056b3;
}

.scale-row .step-button.current-column {
    background-color: green;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 5px;
}